.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 33px;
  width: 100px;
  border: 1px solid #0066cc;
  border-radius: 3px;
  color: #0066cc;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  outline: none;
  transition: border 0.1s;
}

.button:hover,
.button:focus {
  border-width: 2px;
}
